*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width:100%;
  font-family: 'Helvetica', Arial;
}


#wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width:100%;
  
}



#tap-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  
 /* height: 1300px;
/*   color: white; */
  cursor: pointer;
  padding: 10px 20px;
  margin:-2px -103px -19px;
   
}


#lock {
  left:500px;
  font-size: 200%;
  
}

#swipetext{
   left:500px;
  font-size: 200%;
   
}
.tap-area {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
 

  color: white;
  padding: 10px 20px;
  margin: 0 0 7px;
  outline: none;
  position: relative;
  border: 0px;
  width: 100%;
  height: 50%;
  text-align: center;
}

#p{
 text-align: center;
}
.one {
  background-color:#a3a3a3; 
 
  /*border-radius:100%; */
  width:331px;
  height:500px;
  left: 100px;
   font-size: 60px;
   position: relative;
}

#insideone{

  background-image:url("japanesesong.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
  width: 330px;
  height: 500px;
   left:0px;
    top:-1px;
  position: absolute;
  font-size: 60px;
  text-align: center;
/*  -webkit-box-shadow: 17px 4px 36px -14px rgba(89,89,89,0.79);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
#insidetwo{
  
  background-image:url("japanesesong 2.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
  width: 330px;
  height: 500px;
   left:0px;
  top:3px;
 position:absolute;
  font-size: 60px;
  
/*-webkit-box-shadow: 17px 4px 36px -14px rgba(89,89,89,0.79); */
}
#text{
top:3px;
 
}

.two {
 /* border-radius: 100%; */
  width:500px;
  height:500px;
  background-image:url("IMG_01.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
  left: 100px;
 font-size: 40px;
}
 
.tapbox{
  width:500px;
  height:500px;
background-color: #435eb7;
left:100px;
 font-size: 60px;
}
 
.three{
/* border-radius: 100%; */
  color:#EE7600;
  width:500px;
  height:500px;
background: #ffffff;
left:100px;
font-size: 11px;
touch-action: none; 
}
.form {
 text-align: right;
}
.five{
    width:500px;
  height:500px;
background: #d16c0e;
left:100px;
   font-size: 60px;
}




* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}






#output {
  background-color: transparent;
  width: 100%;
  display: block;
  min-height: 30px;
  padding: 10px;
  font-size: 0.8em;
  /*color: white;  bottom text */
}

#output {
  background-color: transparent;
  width: 100%;
  display: block;
  min-height: 30px;
  padding: 10px;
  font-size: 0.8em;
  /*color: white; bottom text */
  
} 



