*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: auto;
  width:auto;
  font-family: 'Helvetica', Arial;
  
}


#wrapper {
 justify-content: center;
  align-items: center;
  text-align:center;
 
}



#tap-container{
  display: grid;
  grid-template-columns:auto auto;
  justify-content: center;
  align-items: center;
  width: auto;
  height:auto;
  

  cursor: pointer;
  padding: 10px 20px;
  margin:-2px -1px -19px;
   
}


#lock {
  
  font-size: 200%;
  
}

#swipetext{
   left:500px;
  font-size: 200%;
   
}
.tap-area {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  cursor: pointer;
 

  color: white;
  padding: 10px 141px;
  margin: 0 11px 7px;
  outline: none;
  position: relative;
  text-align: center;
}

.tap-area2 {
  display: grid;
   grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  cursor: pointer;
 

  color: white;
  padding: 10px 141px;
  margin: 0 11px 7px;
  outline: none;
  position: relative;
  border: 0px;
  text-align: center;
}

#p{
 text-align: center;
}
.one {
  background-color:#a3a3a3; 
 width:200px;
  height:400px;
  left: 100px;
   font-size: 60px;
   position: relative;
}


.two {
 /* border-radius: 100%; */
width:200px;
  height:400px;

  background-color:blue;
  left: 100px;
 font-size: 40px;
}
.three{
  width:200px;
  height:400px;
  background-color:blue;
  left:100px;
  font-size:40px;
  
}
.four{
  width:200px;
  height:400px;
  background-color:grey;
  left:100px;
  font-size:40px;
}

.tappable{
  border-left: black 2px solid;
  border-right: black 2px solid;
  border-top: black 2px solid;
  border-bottom: black 2px solid;
}



#output {
  background-color: transparent;
  width: 100%;
  display: block;
  min-height: 30px;
  padding: 10px;
  font-size: 0.8em;
  /*color: white;  bottom text */
}





